/build/
/eventy
/eventy.exe
*.o
*.obj
*.d
*.a
*.lib
*.so
*.dylib
*.dll
*.exe
*.out

*.gcda
*.gcno
*.gcov
*.profraw
*.profdata
*.pdb
*.ilk

/data/*
!/data/.gitkeep
*.db
*.db-journal
*.sqlite
*.sqlite3

.vscode/
.idea/
.cache/
compile_commands.json
*.code-workspace

.DS_Store
Thumbs.db
Desktop.ini
*.swp
*.swo
*~
